@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #4D41C0;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #E5E5E5;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

.width15{
  width: 15%;
}

.table-box{
  width: 1200px;
  height: fit-content;
  border: 5px;
  border-color: black;
  align-items: center;
}

.custom-container{
  border: solid 1px #ccc;
  border-radius: 20px;
  background-color: white;
}


.save-user{
  margin-left: 12%;
}